@charset "utf-8";
/**
 * 分页
 * @author : Mark
 */
@import "compass";
@import "variables";


.pagination {
  position: relative;
  @include clearfix;
  padding: 0 25px 0 0;
  float: right;
  line-height: 29px;
  height: 29px;
  font-size: 14px;
  text-align: right;
  a, span, li {
    line-height: 22px;
    display: inline;
    list-style-type: none;
    float: left;
    color: #AAA;
    font-size: 13px;
    padding: 2px 10px;
    margin: 0 1px 0 0;
  }

  a, a span, span {
    &:visited{
      color: #0D93BF;
      text-decoration: none;
      cursor: pointer;
      @include border-radius(4px);
    }
    &:hover, &:active {
      color: #000;
      background-color: #FFF;
      cursor: pointer;
      @include opacity(0.9);
      @include box-shadow($shadow-pagination);
    }
  }
  span.currentpage, .current, .active span {
    color: #FFF;
    font-weight: bold;
    background-color: #099ACF;
    @include border-radius(4px);
  }
  .page-location-wrapper{
    padding:0 5px;
    width:85px;
    position: relative;
  }
  .page-input{
    position: absolute;
    top:3px;
    left: 5px;
  }
  .page-button{
    position: absolute;
    top:2px;
    left: 45px;
  }
}