@charset "utf-8";

/*
|--------------------------------------------------------------------------
| 组件的布局文件
|--------------------------------------------------------------------------
| - paddings, margins
| - width   12 的倍数  12 ->  1200
| - clearfix
| - position
| - ellipsis
*/


// paddings , margins
@for $i from 0 through 30 {
  // padding
  .pd#{$i*1} { padding: 1px * $i !important; }
  .pt#{$i*1} { padding-top: 1px * $i!important;}
  .pl#{$i*1} { padding-left: 1px * $i!important;}
  .pb#{$i*1} { padding-bottom: 1px * $i!important; }
  .pl#{$i*1} { padding-left: 1px * $i!important; }
  // margin
  .mg#{$i*1} { margin-top: 1px * $i!important; }
  .mt#{$i*1} { margin-top: 1px * $i!important; }
  .ml#{$i*1} { margin-left: 1px * $i!important; }
  .mb#{$i*1} { margin-bottom: 1px * $i!important; }
  .mr#{$i*1} { margin-right: 1px * $i!important; }
}

// width .w12 - .w1200
@for $i from 1 through 100 {
  .w#{$i*12} { width: 12px * $i !important; }
}

// clearfix
.clearfix {
  *zoom: 1;
  &:before, &:after {
    display: table;
    content: "";
    line-height: 0;
  }
  &:after {
    clear: both;
  }
}


/* position  定位
 -------------------------------------------- */
.fl, .pull-left { float: left; }
.fr, .pull-right { float: right; }
.hide { display: none; }
.show{ display: block;}
.hidden { visibility: hidden;}
.visible { visibility: visible;}
.inline-block { display: inline-block !important;}


/* 超出范围省略号 
 -------------------------------------------- */
.text-ellipsis,.text-ellipsis li,.text-ellipsis a{
  display:block;
  overflow:hidden;
  text-overflow:ellipsis;
  white-space:nowrap;
  word-break:keep-all;
}