@for $i from 1 through 30 {
  // padding
  .pd#{$i*1} { padding: 1px * $i !important; }
  .pt#{$i*1} { padding-top: 1px * $i !important; }
  .pl#{$i*1} { padding-left: 1px * $i !important; }
  .pb#{$i*1} { padding-bottom: 1px * $i !important; }
  .pl#{$i*1} { padding-left: 1px * $i !important; }
  // margin
  .mg#{$i*1} { margin-top: 1px * $i !important; }
  .mt#{$i*1} { margin-top: 1px * $i !important; }
  .ml#{$i*1} { margin-left: 1px * $i !important; }
  .mb#{$i*1} { margin-bottom: 1px * $i !important; }
  .mr#{$i*1} { margin-right: 1px * $i !important; }
}
/* border [(Mark Zhao) 2014/11/21]
------------------------------------------------------ */
.bd-none { border: none !important; }
.bdb-none { border-bottom: none !important; }
.bdt-none { border-top: none !important; }
.bdl-none { border-left: none !important; }
.bdr-none { border-right: none !important; }
// width .w12 - .w720
@for $i from 1 through 120 {
  .w#{$i*12} { width: 12px * $i !important; }
}
.ibox-content .tab-content {
  padding-top: 15px;
}
.txt-center {
  text-align: center;
}
label.validation {
  background: url("../images/app/bgForm.png") no-repeat scroll right -45px;
  padding-right: 25px;
}
.form-horizontal {
  label.validation {
    background-position: right -39px;
  }
}
label.strong {
  font-weight: 700;
}
label.place {
  padding-right: 25px;
}
label.error, label.alert {
  margin: 0 0 0 5px;
  font-style: normal;
  font-weight: normal;
  color: red;
  background: #FFF0F0 url("../images/app/bgForm.png") no-repeat no-repeat -7px -113px;
  padding: 4px 6px 4px 24px;
  border: 1px solid #F30;
}
label.valid {
  font-weight: normal;
  color: #390;
  background: transparent url("../images/app/bgForm.png") no-repeat -10px -78px;
  float: none;
  padding-left: 18px;
  margin-left: 5px;
  border: none;
}
// splash 弹窗效果
.J_splash {
  position: fixed;
  top: 20px;
  right: 5px;
  line-height: 27px;
  // height than fixe-bar
  z-index: 100;
  span {
    padding: 5px 10px;
  }
  .error {
    background: #F2DEDE;
  }
  .success {
    background: #DFF0D8;
  }
}
.ibox-content .middle-box {
  margin-top: 10px;
}
.site_order_show {
  .show_log {
    position: relative;
    height: 550px;
  }
  .show_log_content {
    height: 430px;
    overflow-y: auto;
  }
  .show_log_reply {
    height: 123px;
    position: absolute;
    bottom: 0;
  }
}

.color-kf{
	color:red;
}
.color-pub{
	color : #33CC33;
}
.color-sd{
	color : #FF2EFF;
}